@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocialBook</title>
    <link rel="stylesheet" href="~/assets/style.css">
    <script src="https://kit.fontawesome.com/0d09b8cf60.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div class="nav-left">
            <a asp-controller="Home", asp-action="IndexHome"><img src="~/assets/images/logo.png" class="logo"></a>
            <ul>
                <li><img src="~/assets/images/notification.png"></li>
                <li><img src="~/assets/images/inbox.png"></li>
                <li><img src="~/assets/images/video.png"></li>
            </ul>
        </div>
        <div class="nav-right">

            <div class="search-box">
                <img src="~/assets/images/search.png">
                <input type="text" placeholder="Search">
            </div>
            <div class="nav-user-icon online" onclick="settingsMenuToggle()">
                <img src="~/assets/images/profile-pic.png">
            </div>

        </div>
        <!--------------- settings-menu ----------------->
        <div class="settings-menu">

            <div id="dark-btn">
                <span></span>
            </div>

            <div class="settings-menu-inner">
                <div class="user-profile">
                    <img src="~/assets/images/profile-pic.png">
                    <div>
                        <p>John Nicholson</p>
                        <a asp-controller="Profile" asp-action="IndexProfile">See your profile</a>
                    </div>
                </div>
                <hr>
                <div class="user-profile">
                    <img src="~/assets/images/feedback.png">
                    <div>
                        <p>Give Feedback</p>
                        <a href="#">Help us to improve the new design</a>
                    </div>
                </div>
                <hr>
                <div class="settings-links">
                    <img src="~/assets/images/setting.png" class="settings-icon">
                    <a href="#">Settings & Privacy <img src="~/assets/images/arrow.png" width="10px"></a>
                </div>
                <div class="settings-links">
                    <img src="~/assets/images/help.png" class="settings-icon">
                    <a href="#">Help & Support <img src="~/assets/images/arrow.png" width="10px"></a>
                </div>
                <div class="settings-links">
                    <img src="~/assets/images/display.png" class="settings-icon">
                    <a href="#">Display & Accessibility <img src="~/assets/images/arrow.png" width="10px"></a>
                </div>
                <div class="settings-links">
                    <img src="~/assets/images/logout.png" class="settings-icon">
                    <a href="#">Logout <img src="~/assets/images/arrow.png" width="10px"></a>
                </div>
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer class="footer">
        <p>Copyright 2023 - Easy Tutorials Youtube Channel</p>
    </footer>
    <script src="~/assets/script.js"></script>
</body>
</html>
